*{
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}
th, td{
    text-align: center;
    vertical-align: middle;
}
li {
  width:auto;
  margin: 0% 2% 0% 2%;
}

#contenedor{
    background: #D8D8D8;
}

#cabecera{
    height: auto;
    width: auto;
    display:flex;
}

#icon_menu_main{
    width:auto;
    margin-left: 1%;
}
.d-flex{
    min-width: max-content;
    display: flex;
    width:auto;
    margin-right:2%;
}
ul.drp1{
    text-align: center;
    width:auto;
    height:auto;
    inline-size: -webkit-fill-available;
}
a.drp1_i{
    color: green;
}

#searcher{
    width:auto ;
    margin-right:1%
}
#search_button{
    width:auto;
}
button.log{
    background-color: #5365ED;
    border-radius: 8px;
    font-size: large;
    color: white;
}
.log_button{
    width: 10%;
    min-width: fit-content;
    float:right;
    margin-right: 1%;
}
ul.drp2{
    text-align: center;
    width:auto;
    height:auto;
    inline-size: -webkit-fill-available;
}
a.drp2_i{
    color: blue;
}
#contenido{
    height: auto;
    background: #FFFFFF;
}

#footer{
    height: auto;
    background: #424242;
}