*{
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
}
th, td{
    text-align: center;
    vertical-align: middle;
}
li {
  width:auto;
  margin: 0% 2% 0% 2%;
}

#contenedor{
    background: #D8D8D8;
}

#cabecera{
    height: auto;
    width: auto;
    display:flex;
}
#icon_menu_main{
    width:auto;
    margin-left: 1%;
}
.d-flex{
    width:auto;
    margin-right:5%;
}
#searcher{
    width:auto ;
    margin-right:1%

}
#search_button{
    width:auto;
}
.dropdown-menu{
    text-align: center;
    width:auto;
    height:auto;
}
.dropdown-item{
    color: green;
}


#contenido{
    height: auto;
    background: #FFFFFF;
}


#footer{
    height: auto;
    background: #424242;
}