{% extends './Plantilla_base.html' %}
{% block title %} Films_to_see {% endblock %}
{% block css %}{% endblock %}
{% block body %}
<div id="contenido">
    <div class="col-md-6 offset-md-3">
        <div class="table-responsive">
            <table class="table table-striped"> <!--tabla-->
                <thead> <!--cabecera-->
                    <tr> <!--fila-->
                        <th>#</th> <!--columna-->
                        <th>Pelicula</th>
                    </tr>
                </thead>
                <tbody>
                    {% for film in peliculas%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{film}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
